<config>
    <modules>
        <CommerceExtensions_Sitetransferimportexport>
            <version>0.1.0</version>
        </CommerceExtensions_Sitetransferimportexport>
    </modules>   
    <global>
        <blocks>
            <sitetransferimportexport>
                <class>CommerceExtensions_Sitetransferimportexport_Block</class>
            </sitetransferimportexport>
            <adminhtml>
                <rewrite>
                    <system_convert_profile_grid>CommerceExtensions_Sitetransferimportexport_Block_Adminhtml_System_Convert_Profile_Grid</system_convert_profile_grid>
                    <system_convert_gui_grid>CommerceExtensions_Sitetransferimportexport_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <sitetransferimportexport>
                <class>CommerceExtensions_Sitetransferimportexport_Model</class>
            </sitetransferimportexport>
        </models>
        <helpers>
            <sitetransferimportexport>
                <class>CommerceExtensions_Sitetransferimportexport_Helper</class>
            </sitetransferimportexport>
        </helpers>
        <resources>
            <sitetransferimportexport_setup>
                <setup>
                    <module>CommerceExtensions_Sitetransferimportexport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sitetransferimportexport_setup>
            <sitetransferimportexport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sitetransferimportexport_write>
            <sitetransferimportexport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sitetransferimportexport_read>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <sitetransferimportexport>
                    <file>sitetransferimportexport.xml</file>
                </sitetransferimportexport>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <sitetransferimportexport>
                <use>admin</use>
                <args>
                    <module>CommerceExtensions_Sitetransferimportexport</module>
                    <frontName>sitetransferimportexport</frontName>
                </args>
            </sitetransferimportexport>
        </routers>
    </admin>
</config>